 elasticsearch.yml

.env
.aws/
backups/
/static
!/static/style.css
/icon
/certbot
/node_modules
/setup/src/
/joyce-env/
/setup/target
.pytest_cache/
.python-version
stats.json
*.pyc
*.crt
*.srl
*.csr
*.key
*.sublime-project
*.sublime-workspace
npm-debug.*
.DS_Store
.Python
npm-debug.log
virt/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
