@import "variables";

button {
    background-color: rgba(250, 250, 250, 0.8);
}

#highlight_button > button {
    width: 100%;    
}

#pagination_toggle_button {
    width: 77.5%;
    margin-right: 2.5%;
}

#pagination_edition_select {
    width: 20%
}

%sidebar_button {
    width: 100%;
    box-shadow: 2px 5px 10px 1px rgba(0, 0, 0, 0.3);
}

.note_button > button {
    @extend %sidebar_button;
    white-space: normal;
    margin: 0.325% 0;
    padding: 0.5rem;
    font-size: 0.8rem;
    text-align: left;
}

.chapter_button > button {
    @extend %sidebar_button;
    margin: 0.25% 0;
    padding: 0.2rem 0;
    font-size: 1.1em;
}

.tag_button > button {
    @extend %sidebar_button;
    white-space: normal;
    margin: 0.325% 0;
    padding: 0.5rem;
    font-size: 0.8rem;
    text-align: left;
}

.edition_button > button {
    @extend %sidebar_button;
    white-space: normal;
    margin: 0.325% 0;
    padding: 0.5rem;
    font-size: 0.8rem;
    text-align: left;
}


.media_button > button {
    @extend %sidebar_button;
    white-space: normal;
    margin: 0.325% 0;
    padding: 0.5rem;
    font-size: 0.8rem;
    text-align: left;
}

// Manually set the white background for each button type
// TODO: Refactor to one selector for all list buttons
.chapter_button > button.inactive_button:not(:hover) {
    background-color: rgba(250, 250, 250, 1);
}

.note_button > button.inactive_button:not(:hover) {
    background-color: rgba(250, 250, 250, 0.8);
}

.tag_button > button.inactive_button:not(:hover) {
    background-color: rgba(250, 250, 250, 0.8);
}

.edition_button > button.inactive_button:not(:hover) {
    background-color: rgba(250, 250, 250, 0.8);
}

.media_button > button.inactive_button:not(:hover) {
    background-color: rgba(250, 250, 250, 0.8);
}

.dropdown > button {
    width: 100%;
}

.topbar_button {
    padding: 0 1em;
}

#new_document_button > button {
    width: 100%;
}

.color_preview {
	display: block;
	height: 2em;
	width: 80%;
	border: 1px solid black;
}

.tag_button_color_preview {
	height: 10px;
    width: 10px;
    display: inline-flex;
    margin-right: 0.5em;
    border: 1px solid black;
}

button.caret-off::before {
    display: none;
}
button.caret-off::after {
    display: none;
}