@import "variables";
@import "mixin";

#admin_header {
	padding: .3rem;
}

.admin_hide {
	display: none;
}

#admin_title {
    display: inline;
    font-size: 1.2em;
    font-weight: 700;
    margin-top: 25px;
    padding: 0 1rem;
}

#open_admin_button {
	position: absolute;
    z-index: 1;
    width: 6%;
    margin: 0 auto;
    padding: 0.4rem 0;
    left: 0;
    right: 0px;
    background-color: rgba(245,245,245,0.1);
    border: $border_width solid rgba(245,245,245,0.6);
    border-radius: 0 0 15px 15px;
}

@include respond-below(xs) {
	#open_admin_button {
		width: 14%;
	}
}

#open_admin_button > button {
	display: block;
	margin: 0 auto;
}


