@import "variables";
@import "mixin";



.image_div {
	max-height: 30vh;
	overflow-y: auto;
    margin-top: 1vh;	
}

.image_div img {
	max-width: 100%;
    background-color: rgba(256,256,256,.8);
    box-shadow: 2px 5px 10px 1px rgba(0, 0, 0, 0.3);
    border: 1px solid $border_color;
    border-radius: 5px;
}