@import "variables";
@import "mixin";

.image_group {
    padding-top: 5em;
    font-size: 0.8em;
}

.image_div {
	overflow-y: auto;
    margin-top: 1vh;
    width: 100% !important;
}

.youtube_div {
    overflow-y: auto;
    margin-top: 1vh;
    width: 100% !important;
    iframe {
        width: 100%;
    }
}

.image_div img {
	max-width: 100%;
    background-color: rgba(256,256,256,.8);
    box-shadow: 2px 5px 10px 1px rgba(0, 0, 0, 0.3);
    border: $border_width solid $border_color;
    border-radius: 5px;
}

@include respond-below(sm) {
    #image_gropu {
        padding-top: 0em;
    }
}