@import "variables";
@import "mixin";

html {
	height: 100%;
}

html body {
	height: 100%;
	margin: 0;
	background-color: rgba(211,211,211,1);
    background-repeat: no-repeat;
    background-attachment: fixed;	
	background: -webkit-linear-gradient(-15deg, $bg_gradient1, $bg_gradient2); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(-15deg, $bg_gradient1, $bg_gradient2); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(-15deg, $bg_gradient1, $bg_gradient2); /* For Firefox 3.6 to 15 */
	background: linear-gradient(-15deg, $bg_gradient1, $bg_gradient2); /* Standard syntax */
}

#wrapper {
	height: 100vh;
}

#inner_wrapper {
	height: 100vh;
	overflow: hidden;
}

#joyce_page {
	overflow: hidden;
	width: 95%;
    height: 94vh;
    background-color: rgba(256,256,256,0.5);
    border-left: 1px solid $border_color;
    border-right: 1px solid $border_color;
}

#page_wrapper {
    height: 90vh;
    margin-top: 1vh;
    display: flex;
    align-items: stretch;
}

#content_wrapper {
    height: 88vh;
    flex-flow: column;
    overflow: hidden;
    background-color: rgba(250,250,250,.8);
    margin: 0 2% 1.5% 2%;
    padding: 2% 2%;
    border: 1px solid $border_color;
    border-radius: 5px;
    box-shadow: 2px 5px 10px 1px rgba(0, 0, 0, 0.3);
}

// Media queries

@include respond-below(sm) {
    #joyce_page {
        width: 100%;
    }

    #page_wrapper {
    	margin-top: 0 !important;
    }

    #content_wrapper {
    	margin-left: 0;
    	margin-right: 0;
    	padding: 0;
    	box-shadow: none;
    	border: none;
    }
}

a {
    color: blue;
}