@import "variables";

.modal-header {
	background-color: $joyce_light_green;
	h5 {
		font-size: 1.45rem;
	}
}

.modal-body {
    max-height: 80vh;
    overflow: hidden;
    div:first-child.row {
    	height: 68vh;
    	overflow: auto;
    }
    div > div#document_list {
    	max-height: 60vh;
	}
}

.modal-footer {
	background-color: $joyce_light_green;
}

.select_annotation_modal_note {
	height: 100%;
	overflow: auto;
}

#annotation_modal_wrapper {
	max-width: 90%;
	div.DraftEditor-editorContainer > div > div > div {
		padding: 0.3em 0;
	}
}

#annotation_tag_preview {
	border: $border_width solid rgba(120, 120, 120, 0.7);
    border-radius: 5px;
    background-color: rgba(200, 200, 200, 0.8);
    padding: .1em;
}

#selected_annotation_tag {
	border: $border_width solid rgba(120, 120, 120, 0.7);
	border-radius: 0.3rem;
	background-color: #fafafa;
    padding: 0.15em 1em;
}

#clear_anntation_tag {
	float: right;
}