@import "variables";

#page {
    height: 100%;
    overflow: scroll;
    background-color: rgba(256,256,256,.8);
    box-shadow: 2px 5px 10px 1px rgba(0, 0, 0, 0.3);
    padding: 3% 8%;
    border: 1px solid $border_color;
    border-radius: 5px;
    font-size: 0.8em;
}

#page.show_notes a {	
	cursor: pointer;
  	animation-duration: 1s;
  	animation-name: fadeIn;	
  	animation-fill-mode: forwards;
}

#page.hide_notes a {
	color: black;
	text-decoration: none;
	cursor: default;
	pointer-events: none;
}

.annotations a {
	cursor: pointer;
  	animation-duration: 1s;
  	animation-name: fadeIn;	
  	animation-fill-mode: forwards;	
}

.hidden_annotations a {
	color: black;
	text-decoration: none;
	cursor: default;
	pointer-events: none;
}

@keyframes fadeIn {
	from {
		color: black;
		text-decoration: none;		
	}

	to {
		color: map-get($theme_colors, "primary");
		background-color: #f2e9de;
		border-radius: 3px;
	}
}

#page {

	h2 {
		text-align: center;
	}

	h3 {
		text-align: center;
	}

	h4 {
		text-align: center;
	}

}