@import "variables";

#sidebar {
    height: 100%;
    max-height: 45em;
    background-color: rgba(250,250,250,.8);
    margin: -1% 2% 1.5% 2%;
    padding: 1%;
    border: 1px solid $border_color;
    border-radius: 0 0 5px 5px;
    box-shadow: 2px 5px 10px 1px rgba(0, 0, 0, 0.3);
}

#highlight_button > button {
	width: 100%;    
}

.sidebar_spacer {
    margin: 1.8% 0;
    border: 1px solid $border_color;	
}

button {
    background-color: rgba(250, 250, 250, 0.8);
}

%sidebar_button {
    width: 100%;
    box-shadow: 2px 5px 10px 1px rgba(0, 0, 0, 0.3);
}

.note_button > button {
    @extend %sidebar_button;
    white-space: normal;
    margin: 0.325% 0;
    padding: 0.5rem;
    font-size: 0.8rem;
    text-align: left;
}

.chapter_button > button {
    @extend %sidebar_button;
    margin: 0.25% 0;
    padding: 0.2rem 0;
    font-size: 1.5vw;
}

.tag_button > button {
    @extend %sidebar_button;
    white-space: normal;
    margin: 0.325% 0;
    padding: 0.5rem;
    font-size: 0.8rem;
    text-align: left;
}

.chapter_button > button.inactive_button:not(:hover) {
    background-color: rgba(250, 250, 250, 1);
}

.note_button > button.inactive_button:not(:hover) {
    background-color: rgba(250, 250, 250, 0.8);
}

.tag_button > button.inactive_button:not(:hover) {
    background-color: rgba(250, 250, 250, 0.8);
}

.dropdown > button {
    width: 100%;
}

#document_list > div {
    padding: 1%;
    border: 1px solid $border_color;
    border-radius: 5px;
    background-color: rgba(200, 200, 200, .8);
    max-height: 38em;
    overflow-y: auto;
}

#new_document_button > button {
    width: 100%;
}