@import "variables";
@import "mixin";

#sidebar {
    max-width: 18%;
    max-height: 90vh;
    background-color: rgba(250,250,250,.8);
    margin: -1% 2% 1.5% 2%;
    padding: 1%;
    border: 1px solid $border_color;
    border-radius: 0 0 5px 5px;
    box-shadow: 2px 5px 10px 1px rgba(0, 0, 0, 0.3);
}

#sidebar > div {
    max-height: 100%;
    display: flex;
    flex-flow: column;
}

.mobile_sidebar {
    height: 7vh;
}

#mobile_editor_sidebar > div {
    padding: 0 1em;
}

.sidebar_spacer {
    margin: 1.8% 0;
    border: 1px solid $border_color;	
}

#pagination_button {
    width: 100%;
}

#document_list {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
}

#document_list > div {
    width: 100%;
    padding: 1%;
    border: 1px solid $border_color;
    border-radius: 5px;
    background-color: rgba(200, 200, 200, .8);
    overflow-y: auto;
    overflow-x: hidden;
}

#doc_list_dropdown {
    overflow: scroll;
    height: 80vh;
}

// Media queries

@include respond-above(sm) {
    .mobile_sidebar {
        display: none !important;
    }
}

@include respond-below(sm) {
    .mobile_sidebar {
        background-color: rgba(255, 255, 255, 0.8);
        margin-top: 0 !important;
        padding: 1vh 2.5% 0 2.5%;
    }
}

@include respond-below(xs) {
    .mobile_sidebar {
        height: 8vh;
        button {
            font-size: .8rem;
        }
    }
}