@import "variables";

#editor_content {
    overflow-y: auto;
    background-color: rgba(256,256,256,.8);
    box-shadow: 2px 5px 10px 1px rgba(0, 0, 0, 0.3);
    margin: 1.3% 0;
    border: 1px solid $border_color;
    border-radius: 5px;
    padding: 2% 5%;
    font-size: 0.8em;
    // Expand top-level DraftJS components to focus on click
    > div {
    	height: 100%;
	    > div {
	    	height: 100%;
		    > div {
		    	height: 100%;
		    }	    	
	    }    	
    }
}

.tall_editor {
	height: 43em;
}

.short_editor {
	height: 30em;
}

#editor_metadata {
	h4 {
		font-size: 1.75rem
	}
	input {
		width: 100%;
	    margin-bottom: 0.5%;
	}
}

#editor_topbar {	
	button {
		width: 100%;
	}	
	.row {
		margin-bottom: 0.8%;
	}
	.btn-group {
		margin: 0 1%;
	}
}

#editor_bottombar {
	margin: 0.8% 0;
	button {
		width: 100%;
	}
}

button.caret-off::before {
    display: none;
}
button.caret-off::after {
    display: none;
}

.user_error_message {
	color: map-get($theme_colors, "danger");
}