$nav_gradient1: #152e3a; 
$nav_gradient2: #181b21;

$bg_gradient1: #def0e0;
$bg_gradient2: #bad6bd;

$search_box_bg: rgba(89, 86, 83,.5);

// $border_color: rgba(120,120,120,0.7);
$border_color: black;

$joyce_orange: #ce882d;
$joyce_green: #96C7A9;
$joyce_dark_green: #163020;


$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px
);

$theme-colors: (
	"info": $joyce_dark_green,
	"danger": #72030a,
	"success": #118734,
	"dark": #07383a,
	"primary": $joyce_green,
	"secondary": $joyce_orange,
);