$nav_gradient1: #152e3a; 
$nav_gradient2: #181b21;

$bg_gradient1: #def0e0;
$bg_gradient2: #bad6bd;

$border_color: rgba(120,120,120,0.7);

$theme-colors: (
	"info": #537577,
	"danger": #72030a,
	"success": #118734,
	"dark": #07383a,
	"primary": #824500
);