@import "variables";
@import "mixin";
@import "layout";
@import "navbar";
@import "sidebar";
@import "reader";
@import "search";
@import "editor";
@import "button";
@import "image";
@import "modal";
@import "dev";

$fa-font-path: "../../node_modules/@fortawesome/fontawesome-free/webfonts";
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid";

.fa_inline {
    padding-left: 0.5rem;   
}

.loading_spinner {
    margin: 0 auto;
    text-align:center;
    color: $nav_gradient1
}

.user_error_message {
    color: map-get($theme_colors, "danger");
}