@import "variables";
@import "window";
@import "navbar";
@import "sidebar";
@import "page";
@import "node_modules/bootstrap/scss/bootstrap";

$fa-font-path: "../../node_modules/font-awesome/fonts";
@import "node_modules/font-awesome/scss/font-awesome";

#joyce_search {
	overflow: hidden;
	width: 95%;
    height: 100%;
    background-color: rgba(256,256,256,0.5);
    border-left: 1px solid $border_color;
    border-right: 1px solid $border_color;	
}

#joyce_search > div {
	margin-top: 20px;
}
