html body {
	background-color: rgba(211,211,211,1);
}

#joyce_reader {
	width: 95%;
	margin-top: 1%;
}

#sidebar {
	background-color: rgba(250,250,250,.8);
	min-height: 300px;
	padding: 2%;
	border: 1px solid rgba(120,120,120,.6);
	border-radius: 5px;
}

#reader {
	background-color: rgba(250,250,250,.8);
	min-height: 700px;
	padding: 2%;
	border: 1px solid rgba(120,120,120,.6);
}

#highlight_button {
	padding: 5% 0 5% 0;
	border-bottom: 2px solid rgba(40,40,40,.5);
}