<!DOCTYPE html>
<head>
	<title>Joyce</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Cross-Origin-Opener-Policy" content="same-origin" />
	<link rel="icon" type="image/png" href="/static/icon.png">
    <script>const assets = {{ assets|tojson }}</script>	
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-T18RC89WKH"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-T18RC89WKH');
</script>
<body>
	<!-- Wrapper -->
	<div id="wrapper">
	</div>
	<!-- Scripts -->
	<script src="{{assets['joyce.js']}}"></script>
</body>